.markdown-page > div:nth-child(2) > div {
	height: calc(100vh - 4rem);
	/* height: 100%; */
}

/* @font-face {
	font-weight: normal;
	font-weight: normal;
	font-family: XWWK;
	font-style: normal;
	font-style: normal;
	src: url(/fonts/LXGWWenKaiMono-Regular.ttf);
} */

.bytemd {
	height: 100%;
}

.markdown-body {
	height: 100%;
	/* font-family: XWWK; */
}

/* ol缺失序列号样式修复 */
.markdown-body ol li {
	list-style-type: auto !important;
}

/* ul缺失序列点样式修复 */
.markdown-body ul li {
	list-style-type: initial !important;
}

/* 屏蔽源代码按钮 */
.bytemd-toolbar-right div[bytemd-tippy-path="5"] {
	display: none;
}

.bytemd-status-right > label {
	display: none;
}
